extends includes/base.pug
block scripts 
  script(src="../static/index.js")

block style
  style
    include ../static/style.css

block content
    section#introduction 
      div Welcome New Dance Academy in your TOWN
      div.small Eat Sleep Dance Repeat
        
    section#missionSection 
      h2 Our Mission
      div.card
        h3 Dance perfection!!
        div.card-box
          div.card-img
            img(src="/static/card images/perfection.jpg")
          div.card-content
            p This is the best dance academy of the universe
      div.card
        h3 Dance the way to like!!
        div.card-box
          div.card-img
            img(src="/static/card images/likeWayDance.jpg")
          div.card-content
            p This is the best dance academy of the universe
      div.card
        h3 Get trianed by our experts!!
        div.card-box
          div.card-img
            img(src="/static/card images/experts.jpg")
          div.card-content
            p This is the best dance academy of the universe

    section#sponsorsSection 
      h2 Our Sponsors
      div#sponsors
        img(src="/static/sponsors/apple.jpg" alt="Sponsors Image" class="spImage")
        img(src="/static/sponsors/microsoft.jpg" alt="Sponsors Image" class="spImage")
        img(src="/static/sponsors/hp.jpg" alt="Sponsors Image" class="spImage")
        img(src="/static/sponsors/skype.jpg" alt="Sponsors Image" class="spImage") 